
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-image: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/7845906/910/607/m2/fpnw/wm1/tlgb10c7n2bz8cqk85glh2ssmvhqb07j11jemsexrycknkkspv3excvv9yxzhob3-.jpg?1583035120&s=ab215b2d457cc4aac21bc76fcd6210df");
}

h1, h2, h3, h4, h5, h6 {
  color: #5c5656;
  font-weight: 700;
  margin: 0 0 10px;
}

a:hover, a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}
img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}
.header{
    color: #fff;
}
.myacount{
    color: #fff; 
}
.main-raised {

    margin: -7px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}
.main {

    background: #fff;
    position: relative;
    z-index: 3;

}
.mainn-raised {

    margin: px 0px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}
.fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
}

#hot-deal.section {
  padding: 120px 0px;
  margin: 30px 0px;
  background-color: #AC045C;
  background-image: url('upload/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
.hot-deal {
  text-align: center;
}

.hot-deal .hot-deal-countdown {
  margin-bottom: 30px;
}

.hot-deal .hot-deal-countdown>li {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #D6547Ae6;
  text-align: center;
  border-radius: 50%;
  margin: 0px 5px;
}

.hot-deal .hot-deal-countdown>li>div {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hot-deal .hot-deal-countdown>li>div h3 {
  color: #FFF;
  margin-bottom: 0px;
}

.hot-deal .hot-deal-countdown>li>div span {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF;
}

.hot-deal p {
  text-transform: uppercase;
  font-size: 24px;
}

.hot-deal .cta-btn {
  margin-top: 15px;
}

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}

.dropdownn {
    position: relative;
    display: inline-block;
}

.dropdownn-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownn-content a {
    color: #D6547A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownn-content a:hover {background-color: #D6547A}

.dropdownn:hover .dropdownn-content {
    display: block;
}


